<%= _.template(require('./../includes/header.html'))(data) %>

<main>
    <div class="catalog">
        <div class="center-block p40">
            <div class="top-container">
                <h3>О компании</h3>
            </div>
            <div class="catalog-main about-company-page p40">
                <div href="" class="catalog-main-tem"><div><img src="img/aboutcompany/1.png" alt=""></div> <span>18 лет успешной работы</span></div>
                <div href="" class="catalog-main-tem"><div><img src="img/aboutcompany/2.png" alt=""></div><span>Более 3000 постоянных клиентов</span></div>
                <div href="" class="catalog-main-tem"><div><img src="img/aboutcompany/3.png" alt=""></div><span>Cеть из 26 магазинов по всей стране	</span></div>
                <div href="" class="catalog-main-tem"><div><img src="img/aboutcompany/4.png" alt=""></div><span>Более 200 квалифицированных специалистов по всей стране	</span></div>
                <div href="" class="catalog-main-tem"><div><img src="img/aboutcompany/5.png" alt=""></div><span>Более 30 000 позиций в наличии здесь и сейчас</span></div>
                <div href="" class="catalog-main-tem"><div><img src="img/aboutcompany/6.png" alt=""></div><span>Более 100 прямых контрактов с поставщиками</span></div>
                <div href="" class="catalog-main-tem"><div><img src="img/aboutcompany/7.png" alt=""></div><span>Более 150 брендов</span></div>
                <div href="" class="catalog-main-tem"><div><img src="img/aboutcompany/8.png" alt=""></div><span>On-line склад запасный частей</span></div>
                <div href="" class="catalog-main-tem"><div><img src="img/aboutcompany/9.png" alt=""></div><span>Гибкий и индивидуальный подход к каждому клиенту</span></div>
                <div href="" class="catalog-main-tem"><div><img src="img/aboutcompany/10.png" alt=""></div><span>Собственная доставка запасных частей.</span></div>
                <div href="" class="catalog-main-tem"><div><img src="img/aboutcompany/11.png" alt=""></div><span>Собственная современная Станция Технического Обслуживания</span></div>
            </div>
        </div>
    </div>
</main>


<%= _.template(require('./../includes/footer.html'))(data) %>