<%= _.template(require('./../includes/header.html'))(data) %>
<main>
    <div class="item-container center-block">
        <div class="header-item">
            <div class="container-item">
                <h3>Стать клиентом</h3>
                <div class="breadcrumbs">
                    <a href="">Главная</a>
                    <span class="next"></span>
                    <a href="">Клиентам</a>
                    <span class="next"></span>
                    <a href="">Стать клиентом</a>
                </div>
            </div>
        </div>
    </div>
    <div class="becomeaclient-form-container item-container center-block">
        <div class="becomeaclient-form-main">
            <form action="">
                <p>
                    <label for="mail">Ваше имя</label>
                    <input id="mail" type="mail">
                </p>
                <p>
                    <label for="tel">Ваш телефон</label>
                    <input id="tel" type="tel">
                </p>
                <div>
                    <label for="tel">Ваш город</label>
                    <div class="select-container">
                        <select>
                            <option selected="">Выберите город</option>
                            <option>Kiev</option>
                            <option>LA</option>
                            <option>NY</option>
                        </select>
                    </div>
                </div>
                <button type="submit" class="custom-button">Отправить</button>
            </form>
        </div>
    </div>
</main>
<%= _.template(require('./../includes/footer.html'))(data) %>
