<%= _.template(require('./../includes/header.html'))(data) %>

<main>
    <div class="center-block brand-list">
        <a class="brand-item">
            <img class="response-img" src="img/brand/1mahle.png" alt="">
        </a>
        <a class="brand-item">
            <img class="response-img" src="img/brand/1mahle.png" alt="">
        </a>
        <a class="brand-item">
            <img class="response-img" src="img/brand/1mahle.png" alt="">
        </a>
        <a class="brand-item">
            <img class="response-img" src="img/brand/1mahle.png" alt="">
        </a>
        <a class="brand-item">
            <img class="response-img" src="img/brand/1mahle.png" alt="">
        </a>
        <a class="brand-item">
            <img class="response-img" src="img/brand/1mahle.png" alt="">
        </a>
        <a class="brand-item">
            <img class="response-img" src="img/brand/1mahle.png" alt="">
        </a>
        <a class="brand-item">
            <img class="response-img" src="img/brand/1mahle.png" alt="">
        </a>
        <a class="brand-item">
            <img class="response-img" src="img/brand/1mahle.png" alt="">
        </a>
        <a class="brand-item">
            <img class="response-img" src="img/brand/1mahle.png" alt="">
        </a>
        <a class="brand-item">
            <img class="response-img" src="img/brand/1mahle.png" alt="">
        </a>
        <a class="brand-item">
            <img class="response-img" src="img/brand/1mahle.png" alt="">
        </a>
        <a class="brand-item">
            <img class="response-img" src="img/brand/1mahle.png" alt="">
        </a>
        <a class="brand-item">
            <img class="response-img" src="img/brand/1mahle.png" alt="">
        </a>
        <a class="brand-item">
            <img class="response-img" src="img/brand/1mahle.png" alt="">
        </a>
        <a class="brand-item">
            <img class="response-img" src="img/brand/1mahle.png" alt="">
        </a>
        <a class="brand-item">
            <img class="response-img" src="img/brand/1mahle.png" alt="">
        </a>
        <a class="brand-item">
            <img class="response-img" src="img/brand/1mahle.png" alt="">
        </a>
        <a class="brand-item">
            <img class="response-img" src="img/brand/1mahle.png" alt="">
        </a>
        <a class="brand-item">
            <img class="response-img" src="img/brand/1mahle.png" alt="">
        </a>
        <a class="brand-item">
            <img class="response-img" src="img/brand/1mahle.png" alt="">
        </a>
        <a class="brand-item">
            <img class="response-img" src="img/brand/1mahle.png" alt="">
        </a>

    </div>
</main>


<%= _.template(require('./../includes/footer.html'))(data) %>