<%= _.template(require('./../includes/header.html'))(data) %>

<main>
    <div class="main-container center-block p40">
        <div class="top-container">
            <div class="container-item">
                <h3>Каталог</h3>
                <div class="breadcrumbs">
                    <a href="index.html">Главная</a>
                    <span class="next"></span>
                    <a href="catalog.html">Каталог</a>
                </div>
            </div>
            <form class="search" action="">
                <div class="select-container">
                    <select>
                        <option selected>Выберите бренд</option>
                        <option >First</option>
                        <option >Second</option>
                        <option >Third</option>
                    </select>
                </div>
                <div class="display">
                    <div view="calalogListSprite" class="content-view"></div>
                    <div view="catalogListImgSprite" class="content-view current-view"></div>
                    <div view="catalogImgSprite" class="content-view"></div>
                
                </div>
                <div class="checkbox-container">
                    <input id="in-stock" type="checkbox">
                    <label for="in-stock">В наличии</label>
                </div>
                <button type="submit" class="custom-button">Поиск</button>
            </form>
            <div class="button-show-category p40">
                <button class="custom-button">Категории</button>
            </div>
        </div>
        <aside>
            <h3>Категории</h3>
            <nav>
                <ul class="list-all-category">
                    <li class="list-category">
                        <span class="list-category-name">Двигатель</span>
                        <ul class="list-category-item">
                            <li><a href="">Ремни</a></li>
                            <li><a href="">ГБЦ</a></li>
                            <li><a href="">Коленвал</a></li>
                            <li><a href="">Механизм газораспределения</a></li>
                            <li><a href="">Поддоны</a></li>
                            <li><a href="">Натяжные ролики</a></li>
                        </ul>
                    </li>
                    <li class="list-category">
                        <span class="list-category-name">Трансмиссия</span>
                        <ul class="list-category-item">
                            <li><a href="">Проклвдки</a></li>
                            <li><a href="">ГБЦ</a></li>
                            <li><a href="">Шкивы генератора</a></li>
                            <li><a href="">Механизм газораспределения</a></li>
                            <li><a href="">Шкивы коленвала</a></li>
                        </ul>
                    </li>
                    <li class="list-category">
                        <span class="list-category-name">Топливная система</span>
                        <ul class="list-category-item">
                            <li><a href="">Проклвдки</a></li>
                            <li><a href="">ГБЦ</a></li>
                            <li><a href="">Шкивы генератора</a></li>
                            <li><a href="">Механизм газораспределения</a></li>
                            <li><a href="">Шкивы коленвала</a></li>
                        </ul>
                    </li>
                    <li class="list-category">
                        <span class="list-category-name">Двигатель</span>
                        <ul class="list-category-item">
                            <li><a href="">Ремни</a></li>
                            <li><a href="">ГБЦ</a></li>
                            <li><a href="">Коленвал</a></li>
                            <li><a href="">Механизм газораспределения</a></li>
                            <li><a href="">Поддоны</a></li>
                            <li><a href="">Натяжные ролики</a></li>
                        </ul>
                    </li>
                    <li class="list-category">
                        <span class="list-category-name">Двигатель</span>
                        <ul class="list-category-item">
                            <li><a href="">Ремни</a></li>
                            <li><a href="">ГБЦ</a></li>
                            <li><a href="">Коленвал</a></li>
                            <li><a href="">Механизм газораспределения</a></li>
                            <li><a href="">Поддоны</a></li>
                            <li><a href="">Натяжные ролики</a></li>
                        </ul>
                    </li>
                    <li class="list-category">
                        <span class="list-category-name">Трансмиссия</span>
                        <ul class="list-category-item">
                            <li><a href="">Проклвдки</a></li>
                            <li><a href="">ГБЦ</a></li>
                            <li><a href="">Шкивы генератора</a></li>
                            <li><a href="">Механизм газораспределения</a></li>
                            <li><a href="">Шкивы коленвала</a></li>
                        </ul>
                    </li>
                    <li class="list-category">
                        <span class="list-category-name">Топливная система</span>
                        <ul class="list-category-item">
                            <li><a href="">Проклвдки</a></li>
                            <li><a href="">ГБЦ</a></li>
                            <li><a href="">Шкивы генератора</a></li>
                            <li><a href="">Механизм газораспределения</a></li>
                            <li><a href="">Шкивы коленвала</a></li>
                        </ul>
                    </li>
                    <li class="list-category">
                        <span class="list-category-name">Двигатель</span>
                        <ul class="list-category-item">
                            <li><a href="">Ремни</a></li>
                            <li><a href="">ГБЦ</a></li>
                            <li><a href="">Коленвал</a></li>
                            <li><a href="">Механизм газораспределения</a></li>
                            <li><a href="">Поддоны</a></li>
                            <li><a href="">Натяжные ролики</a></li>
                        </ul>
                    </li>
                    <li class="list-category">
                        <span class="list-category-name">Трансмиссия</span>
                        <ul class="list-category-item">
                            <li><a href="">Проклвдки</a></li>
                            <li><a href="">ГБЦ</a></li>
                            <li><a href="">Шкивы генератора</a></li>
                            <li><a href="">Механизм газораспределения</a></li>
                            <li><a href="">Шкивы коленвала</a></li>
                        </ul>
                    </li>
                    <li class="list-category">
                        <span class="list-category-name">Топливная система</span>
                        <ul class="list-category-item">
                            <li><a href="">Проклвдки</a></li>
                            <li><a href="">ГБЦ</a></li>
                            <li><a href="">Шкивы генератора</a></li>
                            <li><a href="">Механизм газораспределения</a></li>
                            <li><a href="">Шкивы коленвала</a></li>
                        </ul>
                    </li>
                    <li class="list-category">
                        <span class="list-category-name">Двигатель</span>
                        <ul class="list-category-item">
                            <li><a href="">Ремни</a></li>
                            <li><a href="">ГБЦ</a></li>
                            <li><a href="">Коленвал</a></li>
                            <li><a href="">Механизм газораспределения</a></li>
                            <li><a href="">Поддоны</a></li>
                            <li><a href="">Натяжные ролики</a></li>
                        </ul>
                    </li>
                    <li class="list-category">
                        <span class="list-category-name">Двигатель</span>
                        <ul class="list-category-item">
                            <li><a href="">Ремни</a></li>
                            <li><a href="">ГБЦ</a></li>
                            <li><a href="">Коленвал</a></li>
                            <li><a href="">Механизм газораспределения</a></li>
                            <li><a href="">Поддоны</a></li>
                            <li><a href="">Натяжные ролики</a></li>
                        </ul>
                    </li>
                    <li class="list-category">
                        <span class="list-category-name">Трансмиссия</span>
                        <ul class="list-category-item">
                            <li><a href="">Проклвдки</a></li>
                            <li><a href="">ГБЦ</a></li>
                            <li><a href="">Шкивы генератора</a></li>
                            <li><a href="">Механизм газораспределения</a></li>
                            <li><a href="">Шкивы коленвала</a></li>
                        </ul>
                    </li>
                    <li class="list-category">
                        <span class="list-category-name">Топливная система</span>
                        <ul class="list-category-item">
                            <li><a href="">Проклвдки</a></li>
                            <li><a href="">ГБЦ</a></li>
                            <li><a href="">Шкивы генератора</a></li>
                            <li><a href="">Механизм газораспределения</a></li>
                            <li><a href="">Шкивы коленвала</a></li>
                        </ul>
                    </li>
                    <li class="list-category">
                        <span class="list-category-name">Двигатель</span>
                        <ul class="list-category-item">
                            <li><a href="">Ремни</a></li>
                            <li><a href="">ГБЦ</a></li>
                            <li><a href="">Коленвал</a></li>
                            <li><a href="">Механизм газораспределения</a></li>
                            <li><a href="">Поддоны</a></li>
                            <li><a href="">Натяжные ролики</a></li>
                        </ul>
                    </li>
                    <li class="list-category">
                        <span class="list-category-name">Трансмиссия</span>
                        <ul class="list-category-item">
                            <li><a href="">Проклвдки</a></li>
                            <li><a href="">ГБЦ</a></li>
                            <li><a href="">Шкивы генератора</a></li>
                            <li><a href="">Механизм газораспределения</a></li>
                            <li><a href="">Шкивы коленвала</a></li>
                        </ul>
                    </li>
                    <li class="list-category">
                        <span class="list-category-name">Топливная система</span>
                        <ul class="list-category-item">
                            <li><a href="">Проклвдки</a></li>
                            <li><a href="">ГБЦ</a></li>
                            <li><a href="">Шкивы генератора</a></li>
                            <li><a href="">Механизм газораспределения</a></li>
                            <li><a href="">Шкивы коленвала</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </aside>
        <div class="catalogListImgSprite container-list-all-item p40">
            <div class="new-arrivals-item">
                <div class="new-arrivals-img">
                    <a href=""><img src="img/newArr1.png" alt=""></a>
                    <span class="sticker">
                        Новинка
                    </span>
                </div>
                <div class="new-arrivals-description">
                    <div class="container-description">
                        <a class="name" href="">TE 630 Фильтр масляный</a>
                        <a href="#" class="category">Масляные фильтры</a>
                        <span class="vendor-code">Арикул: TE630</span>
                        <span class="brand">Бренд: <span>Bosh</span></span>
                        <span class="available"><img src="img/available.png" alt=""> Доступно <span>12</span>шт.</span>
                    </div>
                    <div class="container-for-button">
                        <span class="price">57,14 <span>byn</span> </span>
                        <span class="available"><img src="img/available.png" alt=""> Доступно <span>12</span>шт.</span>
                        <div class="container-for-by-button">
                            <button>+1</button>
                            <button>+10</button>
                            <button>Купить</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="new-arrivals-item">
                <div class="new-arrivals-img">
                    <a href=""><img src="img/newArr1.png" alt=""></a>
                    <span class="sticker">
                        Новинка
                    </span>
                </div>
                <div class="new-arrivals-description">
                    <div class="container-description">
                        <a class="name" href="">TE 630 Фильтр масляный</a>
                        <a href="#" class="category">Масляные фильтры</a>
                        <span class="vendor-code">Арикул: TE630</span>
                        <span class="brand">Бренд: <span>Bosh</span></span>
                        <span class="available"><img src="img/available.png" alt=""> Доступно <span>12</span>шт.</span>
                    </div>
                    <div class="container-for-button">
                        <span class="price">57,14 <span>byn</span> </span>
                        <span class="available"><img src="img/available.png" alt=""> Доступно <span>12</span>шт.</span>
                        <div class="container-for-by-button">
                            <button>+1</button>
                            <button>+10</button>
                            <button>Купить</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="new-arrivals-item">
                <div class="new-arrivals-img">
                    <a href=""><img src="img/newArr1.png" alt=""></a>
                    <span class="sticker">
                        Новинка
                    </span>
                </div>
                <div class="new-arrivals-description">
                    <div class="container-description">
                        <a class="name" href="">TE 630 Фильтр масляный</a>
                        <a href="#" class="category">Масляные фильтры</a>
                        <span class="vendor-code">Арикул: TE630</span>
                        <span class="brand">Бренд: <span>Bosh</span></span>
                        <span class="available"><img src="img/available.png" alt=""> Доступно <span>12</span>шт.</span>
                    </div>
                    <div class="container-for-button">
                        <span class="price">57,14 <span>byn</span> </span>
                        <span class="available"><img src="img/available.png" alt=""> Доступно <span>12</span>шт.</span>
                        <div class="container-for-by-button">
                            <button>+1</button>
                            <button>+10</button>
                            <button>Купить</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="new-arrivals-item">
                <div class="new-arrivals-img">
                    <a href=""><img src="img/newArr1.png" alt=""></a>
                    <span class="sticker">
                        Новинка
                    </span>
                </div>
                <div class="new-arrivals-description">
                    <div class="container-description">
                        <a class="name" href="">TE 630 Фильтр масляный</a>
                        <a href="#" class="category">Масляные фильтры</a>
                        <span class="vendor-code">Арикул: TE630</span>
                        <span class="brand">Бренд: <span>Bosh</span></span>
                        <span class="available"><img src="img/available.png" alt=""> Доступно <span>12</span>шт.</span>
                    </div>
                    <div class="container-for-button">
                        <span class="price">57,14 <span>byn</span> </span>
                        <span class="available"><img src="img/available.png" alt=""> Доступно <span>12</span>шт.</span>
                        <div class="container-for-by-button">
                            <button>+1</button>
                            <button>+10</button>
                            <button>Купить</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="new-arrivals-item">
                <div class="new-arrivals-img">
                    <a href=""><img src="img/newArr1.png" alt=""></a>
                    <span class="sticker">
                        Новинка
                    </span>
                </div>
                <div class="new-arrivals-description">
                    <div class="container-description">
                        <a class="name" href="">TE 630 Фильтр масляный</a>
                        <a href="#" class="category">Масляные фильтры</a>
                        <span class="vendor-code">Арикул: TE630</span>
                        <span class="brand">Бренд: <span>Bosh</span></span>
                        <span class="available"><img src="img/available.png" alt=""> Доступно <span>12</span>шт.</span>
                    </div>
                    <div class="container-for-button">
                        <span class="price">57,14 <span>byn</span> </span>
                        <span class="available"><img src="img/available.png" alt=""> Доступно <span>12</span>шт.</span>
                        <div class="container-for-by-button">
                            <button>+1</button>
                            <button>+10</button>
                            <button>Купить</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="new-arrivals-item">
                <div class="new-arrivals-img">
                    <a href=""><img src="img/newArr1.png" alt=""></a>
                    <span class="sticker">
                        Новинка
                    </span>
                </div>
                <div class="new-arrivals-description">
                    <div class="container-description">
                        <a class="name" href="">TE 630 Фильтр масляный</a>
                        <a href="#" class="category">Масляные фильтры</a>
                        <span class="vendor-code">Арикул: TE630</span>
                        <span class="brand">Бренд: <span>Bosh</span></span>
                        <span class="available"><img src="img/available.png" alt=""> Доступно <span>12</span>шт.</span>
                    </div>
                    <div class="container-for-button">
                        <span class="price">57,14 <span>byn</span> </span>
                        <span class="available"><img src="img/available.png" alt=""> Доступно <span>12</span>шт.</span>
                        <div class="container-for-by-button">
                            <button>+1</button>
                            <button>+10</button>
                            <button>Купить</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="new-arrivals-item">
                <div class="new-arrivals-img">
                    <a href=""><img src="img/newArr1.png" alt=""></a>
                    <span class="sticker">
                        Новинка
                    </span>
                </div>
                <div class="new-arrivals-description">
                    <div class="container-description">
                        <a class="name" href="">TE 630 Фильтр масляный</a>
                        <a href="#" class="category">Масляные фильтры</a>
                        <span class="vendor-code">Арикул: TE630</span>
                        <span class="brand">Бренд: <span>Bosh</span></span>
                        <span class="available"><img src="img/available.png" alt=""> Доступно <span>12</span>шт.</span>
                    </div>
                    <div class="container-for-button">
                        <span class="price">57,14 <span>byn</span> </span>
                        <span class="available"><img src="img/available.png" alt=""> Доступно <span>12</span>шт.</span>
                        <div class="container-for-by-button">
                            <button>+1</button>
                            <button>+10</button>
                            <button>Купить</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="newArrivals center-block p40">
        <div class="top-container">
            <h3>Похожие товары</h3>
            <a class="custom-button" href="">Больше товаров</a>
        </div>
        <div class="container-for-new-arrivals p40">
            <div class="new-arrivals-item">
                <div class="new-arrivals-img">
                    <a href=""><img src="img/newArr1.png" alt=""></a>
                    <span class="sticker">
                        Новинка
                    </span>
                </div>
                <div class="new-arrivals-description">
                    <a  class="name">TE 630 Фильтр масляный</a>
                    <a href="#" class="category">Масляные фильтры</a>
                    <span class="vendor-code">Арикул: TE630</span>
                </div>
            </div>
            <div class="new-arrivals-item">
                <div class="new-arrivals-img">
                    <a href=""><img src="img/newArr2.png" alt=""></a>
                </div>
                <div class="new-arrivals-description">
                    <a class="name">Масло Lotos POWERTEC</a>
                    <a href="#" class="category">Масло</a>
                    <span class="vendor-code">Арикул: TE630</span>
                </div>
            </div>
            <div class="new-arrivals-item">
                <div class="new-arrivals-img">
                    <a href="">
                        <img src="img/newArr3.png" alt="">
                        <span class="sticker">
                        Новинка
                    </span>
                    </a>
                </div>
                <div class="new-arrivals-description">
                    <a class="name">Амортизатоп POWERTEC</a>
                    <a href="#" class="category">Амортизаиор</a>
                    <span class="vendor-code">Арикул: TE630</span>
                </div>
            </div>
            <div class="new-arrivals-item">
                <div class="new-arrivals-img">
                    <a href="">
                        <img src="img/newArr4.png" alt="">
                        <span class="sticker">
                        Новинка
                    </span>
                    </a>
                </div>
                <div class="new-arrivals-description">
                    <a class="name">Масло моторное POWERTEC</a>
                    <a href="#" class="category">Масло</a>
                    <span class="vendor-code">Арикул: TE630</span>
                </div>
            </div>
        </div>
    </div>
    <div class="company-item-slider center-block p40">
        <div class="item"><img class="response-img" src="img/slider/1.png" alt=""></div>
        <div class="item"><img class="response-img" src="img/slider/2.png" alt=""></div>
        <div class="item"><img class="response-img" src="img/slider/3.png" alt=""></div>
        <div class="item"><img class="response-img" src="img/slider/4.png" alt=""></div>
        <div class="item"><img class="response-img" src="img/slider/5.png" alt=""></div>
        <div class="item"><img class="response-img" src="img/slider/6.png" alt=""></div>
    </div>
</main>
<%= _.template(require('./../includes/footer.html'))(data) %>