<%= _.template(require('./../includes/header.html'))(data) %>
<div class="center-block">
    <div class="container-item">
        <div class="item-container">
            <h3>Центральный офис</h3>
            <div class="breadcrumbs">
                <a href="index.html">Главная</a>
                <span class="next"></span>
                <a href="news.html">Новости</a>
            </div>
        </div>
    </div>
    <div class="news">
        <div class="top-container">
            <h4>Отдел закупок</h4>
        </div>
        <div class="conteiner-for-news contact-page p40">
            <div class="news-item">
                <span class="news-name">Менеджер по закупкам</span>
                <span class="medium12">Мельник Александр</span>
                <span class="medium12">тел: <a href="tel:+375172910832">+375(17)291-08-32</a> вн.114</span>
                <span class="medium12">E-mail: <a href="mailto:info@truckbel.com">info@truckbel.com</a></span>
            </div>
            <div class="news-item">
                <span class="news-name">Менеджер по закупкам</span>
                <span class="medium12">Мельник Александр</span>
                <span class="medium12">тел: <a href="tel:+375172910832">+375(17)291-08-32</a> вн.114</span>
                <span class="medium12">E-mail: <a href="mailto:info@truckbel.com">info@truckbel.com</a></span>
            </div>
            <div class="news-item">
                <span class="news-name">Менеджер по закупкам</span>
                <span class="medium12">Мельник Александр</span>
                <span class="medium12">тел: <a href="tel:+375172910832">+375(17)291-08-32</a> вн.114</span>
                <span class="medium12">E-mail: <a href="mailto:info@truckbel.com">info@truckbel.com</a></span>
            </div>
            <div class="news-item">
                <span class="news-name">Менеджер по закупкам</span>
                <span class="medium12">Мельник Александр</span>
                <span class="medium12">тел: <a href="tel:+375172910832">+375(17)291-08-32</a> вн.114</span>
                <span class="medium12">E-mail: <a href="mailto:info@truckbel.com">info@truckbel.com</a></span>
            </div>
        </div>
    </div>
    <div class="news">
        <div class="top-container">
            <h4>Бухгалтерия</h4>
        </div>
        <div class="conteiner-for-news contact-page p40">
            <div class="news-item">
                <span class="news-name">Менеджер по закупкам</span>
                <span class="medium12">Мельник Александр</span>
                <span class="medium12">тел: <a href="tel:+375172910832">+375(17)291-08-32</a> вн.114</span>
                <span class="medium12">E-mail: <a href="mailto:info@truckbel.com">info@truckbel.com</a></span>
            </div>
            <div class="news-item">
                <span class="news-name">Менеджер по закупкам</span>
                <span class="medium12">Мельник Александр</span>
                <span class="medium12">тел: <a href="tel:+375172910832">+375(17)291-08-32</a> вн.114</span>
                <span class="medium12">E-mail: <a href="mailto:info@truckbel.com">info@truckbel.com</a></span>
            </div>
            <div class="news-item">
                <span class="news-name">Менеджер по закупкам</span>
                <span class="medium12">Мельник Александр</span>
                <span class="medium12">тел: <a href="tel:+375172910832">+375(17)291-08-32</a> вн.114</span>
                <span class="medium12">E-mail: <a href="mailto:info@truckbel.com">info@truckbel.com</a></span>
            </div>
            <div class="news-item">
                <span class="news-name">Менеджер по закупкам</span>
                <span class="medium12">Мельник Александр</span>
                <span class="medium12">тел: <a href="tel:+375172910832">+375(17)291-08-32</a> вн.114</span>
                <span class="medium12">E-mail: <a href="mailto:info@truckbel.com">info@truckbel.com</a></span>
            </div>
        </div>
    </div>
        <div class="news">
        <div class="top-container">
            <h4>Администрация</h4>
        </div>
        <div class="conteiner-for-news contact-page p40">
            <div class="news-item">
                <span class="news-name">Менеджер по закупкам</span>
                <span class="medium12">Мельник Александр</span>
                <span class="medium12">тел: <a href="tel:+375172910832">+375(17)291-08-32</a> вн.114</span>
                <span class="medium12">E-mail: <a href="mailto:info@truckbel.com">info@truckbel.com</a></span>
            </div>
            <div class="news-item">
                <span class="news-name">Менеджер по закупкам</span>
                <span class="medium12">Мельник Александр</span>
                <span class="medium12">тел: <a href="tel:+375172910832">+375(17)291-08-32</a> вн.114</span>
                <span class="medium12">E-mail: <a href="mailto:info@truckbel.com">info@truckbel.com</a></span>
            </div>
            <div class="news-item">
                <span class="news-name">Менеджер по закупкам</span>
                <span class="medium12">Мельник Александр</span>
                <span class="medium12">тел: <a href="tel:+375172910832">+375(17)291-08-32</a> вн.114</span>
                <span class="medium12">E-mail: <a href="mailto:info@truckbel.com">info@truckbel.com</a></span>
            </div>
            <div class="news-item">
                <span class="news-name">Менеджер по закупкам</span>
                <span class="medium12">Мельник Александр</span>
                <span class="medium12">тел: <a href="tel:+375172910832">+375(17)291-08-32</a> вн.114</span>
                <span class="medium12">E-mail: <a href="mailto:info@truckbel.com">info@truckbel.com</a></span>
            </div>
        </div>
    </div>

    

    </div>

</div>
    <%= _.template(require('./../includes/footer.html'))(data) %>