
<%= _.template(require('./../includes/header.html'))(data) %>


<main>
    <div class="center-block">
        <div class="container-for-top-sider">
            <div class="top-sider owl-theme">
                <div class="item">
                    <img class="response-img" src="img/slider-item.png" alt="">
                    <div class="description">
                        <span class="top">Масла моторные</span>
                        <span class="bottom">Новые поступления</span>
                    </div>
                </div>
                <div class="item"><img class="response-img" src="img/slider-item.png" alt=""></div>
                <div class="item"><img class="response-img" src="img/slider-item.png" alt=""></div>
                <div class="item"><img class="response-img" src="img/slider-item.png" alt=""></div>
            </div>
        </div>
    </div>
    <div class="catalog">
        <div class="center-block p40">
            <div class="top-container">
                <h3>Каталог</h3>
                <a class="custom-button" href="">Более 30 000 позиций</a>
            </div>
            <div class="catalog-main p40">
                <a href="" class="catalog-main-tem"><img src="img/cat1.png" alt=""><span>Online каталог моторных масел Lotos</span></a>
                <a href="" class="catalog-main-tem"><img src="img/cat2.png" alt=""><span>Трансмиссия</span></a>
                <a href="" class="catalog-main-tem"><img src="img/cat3.png" alt=""><span>АКБ и прочее</span></a>
                <a href="" class="catalog-main-tem"><img src="img/cat4.png" alt=""><span>Система очистки стекл</span></a>
                <a href="" class="catalog-main-tem"><img src="img/cat5.png" alt=""><span>Рулевое управление</span></a>
                <a href="" class="catalog-main-tem"><img src="img/cat6.png" alt=""><span>Масла и жидкости</span></a>
                <a href="" class="catalog-main-tem"><img src="img/cat7.png" alt=""><span>Тормозная система</span></a>
                <a href="" class="catalog-main-tem"><img src="img/cat8.png" alt=""><span>Воздушные фильтры</span></a>
                <a href="" class="catalog-main-tem"><img src="img/cat9.png" alt=""><span>Вихлопная система</span></a>
                <a href="" class="catalog-main-tem"><img src="img/cat10.png" alt=""><span>Ремни</span></a>
                <a href="" class="catalog-main-tem"><img src="img/cat11.png" alt=""><span>Двигатель</span></a>
                <a href="" class="catalog-main-tem"><img src="img/cat12.png" alt=""><span>Топливная система</span></a>
            </div>
        </div>
    </div>
    <div class="newArrivals center-block p40">
        <div class="top-container">
            <h3>Новинки ассортимента</h3>
            <a class="custom-button" href="">Больше новинок</a>
        </div>
        <div class="container-for-new-arrivals p40">
            <div class="new-arrivals-item">
                <div class="new-arrivals-img">
                    <a href=""><img src="img/newArr1.png" alt=""></a>
                    <span class="sticker">
                        Новинка
                    </span>
                </div>
                <div class="new-arrivals-description">
                    <span class="name">TE 630 Фильтр масляный</span>
                    <a href="#" class="category">Масляные фильтры</a>
                    <span class="vendor-code">Арикул: TE630</span>
                </div>
            </div>
            <div class="new-arrivals-item">
                <div class="new-arrivals-img">
                    <a href=""><img src="img/newArr2.png" alt=""></a>
                </div>
                <div class="new-arrivals-description">
                    <span class="name">Масло Lotos POWERTEC</span>
                    <a href="#" class="category">Масло</a>
                    <span class="vendor-code">Арикул: TE630</span>
                </div>
            </div>
            <div class="new-arrivals-item">
                <div class="new-arrivals-img">
                    <a href="">
                        <img src="img/newArr3.png" alt="">
                        <span class="sticker">
                        Новинка
                    </span>
                    </a>
                </div>
                <div class="new-arrivals-description">
                    <span class="name">Амортизатоп POWERTEC</span>
                    <a href="#" class="category">Амортизаиор</a>
                    <span class="vendor-code">Арикул: TE630</span>
                </div>
            </div>
            <div class="new-arrivals-item">
                <div class="new-arrivals-img">
                    <a href="">
                        <img src="img/newArr4.png" alt="">
                        <span class="sticker">
                        Новинка
                    </span>
                    </a>
                </div>
                <div class="new-arrivals-description">
                    <span class="name">Масло моторное POWERTEC</span>
                    <a href="#" class="category">Масло</a>
                    <span class="vendor-code">Арикул: TE630</span>
                </div>
            </div>
        </div>
    </div>
    <div class="company-item-slider center-block p40">
        <div class="item"><img class="response-img" src="img/slider/1.png" alt=""></div>
        <div class="item"><img class="response-img" src="img/slider/2.png" alt=""></div>
        <div class="item"><img class="response-img" src="img/slider/3.png" alt=""></div>
        <div class="item"><img class="response-img" src="img/slider/4.png" alt=""></div>
        <div class="item"><img class="response-img" src="img/slider/5.png" alt=""></div>
        <div class="item"><img class="response-img" src="img/slider/6.png" alt=""></div>
    </div>
    <div class="news center-block p40">
        <div class="top-container">
            <h3>Новости</h3>
            <a class="custom-button" href="">Больше новостей</a>
        </div>
        <div class="conteiner-for-news p40">
            <div class="news-item">
                <span class="news-name">
                    Синтетика или полусинтетика?
                </span>
                <span class="news-date">
                    04.10.2018
                </span>
                <span class="part-of-the-news">
                    Каждый автомобилист знает,
                    что от выбора моторного масла зависит надежность работы
                    и долговечность двигателя автомобиля.
                </span>
            </div>
            <div class="news-item">
                <span class="news-name">
                    Синтетика или полусинтетика?
                </span>
                <span class="news-date">
                    04.10.2018
                </span>
                <span class="part-of-the-news">
                    Каждый автомобилист знает,
                    что от выбора моторного масла зависит надежность работы
                    и долговечность двигателя автомобиля.
                </span>
            </div>
            <div class="news-item">
                <span class="news-name">
                    Синтетика или полусинтетика?
                </span>
                <span class="news-date">
                    04.10.2018
                </span>
                <span class="part-of-the-news">
                    Каждый автомобилист знает,
                    что от выбора моторного масла зависит надежность работы
                    и долговечность двигателя автомобиля.
                </span>
            </div>
            <div class="news-item">
                <span class="news-name">
                    Синтетика или полусинтетика?
                </span>
                <span class="news-date">
                    04.10.2018
                </span>
                <span class="part-of-the-news">
                    Каждый автомобилист знает,
                    что от выбора моторного масла зависит надежность работы
                    и долговечность двигателя автомобиля.
                </span>
            </div>
        </div>
    </div>
    <div class="about-us center-block p40 box-shadow">

    </div>
</main>


<%= _.template(require('./../includes/footer.html'))(data) %>