<%= _.template(require('./../includes/header.html'))(data) %>

<main>
    <div class="center-block">
        <div class="container-item">
            <div class="item-container">
                <h3>Новости</h3>
                <div class="breadcrumbs">
                    <a href="index.html">Главная</a>
                    <span class="next"></span>
                    <a href="news.html">Новости</a>
                </div>
            </div>
            <div class="news-list p40">
                <div class="news-list-item p20">
                    <a class="news-list-item-img" href="article.html">
                        <img class="response-img" src="https://picsum.photos/500/500/?random" alt="">
                    </a>
                    <div class="news-list-item-main">
                        <a class="article-link" href="article.html">Cинтетика или полусинтетика?</a>
                        <span class="news-date"> 04.10.2018</span>
                        <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis ex libero nulla provident quidem quisquam similique vel, voluptas. Culpa maiores modi odit omnis perferendis quasi sequi sunt tenetur unde voluptatum?</span><span>Aliquid cupiditate ipsum nesciunt nisi. Blanditiis est maxime possimus quasi tempore, totam velit! Commodi delectus dicta eum ipsum, iusto laudantium minima molestiae nemo odit quaerat quas quia rerum saepe sapiente?</span></p>
                    </div>
                </div>
                <div class="news-list-item p20">
                    <a class="news-list-item-img" href="">
                        <img class="response-img" src="https://picsum.photos/500/500/?random" alt="">
                    </a>
                    <div class="news-list-item-main">
                        <a class="article-link" href="">Cинтетика или полусинтетика?</a>
                        <span class="news-date"> 04.10.2018</span>
                        <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis ex libero nulla provident quidem quisquam similique vel, voluptas. Culpa maiores modi odit omnis perferendis quasi sequi sunt tenetur unde voluptatum?</span><span>Aliquid cupiditate ipsum nesciunt nisi. Blanditiis est maxime possimus quasi tempore, totam velit! Commodi delectus dicta eum ipsum, iusto laudantium minima molestiae nemo odit quaerat quas quia rerum saepe sapiente?</span></p>
                    </div>
                </div>
                <div class="news-list-item p20">
                    <a class="news-list-item-img" href="">
                        <img class="response-img" src="https://picsum.photos/500/500/?random" alt="">
                    </a>
                    <div class="news-list-item-main">
                        <a class="article-link" href="">Cинтетика или полусинтетика?</a>
                        <span class="news-date"> 04.10.2018</span>
                        <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis ex libero nulla provident quidem quisquam similique vel, voluptas. Culpa maiores modi odit omnis perferendis quasi sequi sunt tenetur unde voluptatum?</span><span>Aliquid cupiditate ipsum nesciunt nisi. Blanditiis est maxime possimus quasi tempore, totam velit! Commodi delectus dicta eum ipsum, iusto laudantium minima molestiae nemo odit quaerat quas quia rerum saepe sapiente?</span></p>
                    </div>
                </div>
                <div class="news-list-item p20">
                    <a class="news-list-item-img" href="">
                        <img class="response-img" src="https://picsum.photos/500/500/?random" alt="">
                    </a>
                    <div class="news-list-item-main">
                        <a class="article-link" href="">Cинтетика или полусинтетика?</a>
                        <span class="news-date"> 04.10.2018</span>
                        <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis ex libero nulla provident quidem quisquam similique vel, voluptas. Culpa maiores modi odit omnis perferendis quasi sequi sunt tenetur unde voluptatum?</span><span>Aliquid cupiditate ipsum nesciunt nisi. Blanditiis est maxime possimus quasi tempore, totam velit! Commodi delectus dicta eum ipsum, iusto laudantium minima molestiae nemo odit quaerat quas quia rerum saepe sapiente?</span></p>
                    </div>
                </div>
                <div class="news-list-item p20">
                    <a class="news-list-item-img" href="">
                        <img class="response-img" src="https://picsum.photos/500/500/?random" alt="">
                    </a>
                    <div class="news-list-item-main">
                        <a class="article-link" href="">Cинтетика или полусинтетика?</a>
                        <span class="news-date"> 04.10.2018</span>
                        <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis ex libero nulla provident quidem quisquam similique vel, voluptas. Culpa maiores modi odit omnis perferendis quasi sequi sunt tenetur unde voluptatum?</span><span>Aliquid cupiditate ipsum nesciunt nisi. Blanditiis est maxime possimus quasi tempore, totam velit! Commodi delectus dicta eum ipsum, iusto laudantium minima molestiae nemo odit quaerat quas quia rerum saepe sapiente?</span></p>
                    </div>
                </div>
                <div class="news-list-item p20">
                    <a class="news-list-item-img" href="">
                        <img class="response-img" src="https://picsum.photos/500/500/?random" alt="">
                    </a>
                    <div class="news-list-item-main">
                        <a class="article-link" href="">Cинтетика или полусинтетика?</a>
                        <span class="news-date"> 04.10.2018</span>
                        <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis ex libero nulla provident quidem quisquam similique vel, voluptas. Culpa maiores modi odit omnis perferendis quasi sequi sunt tenetur unde voluptatum?</span><span>Aliquid cupiditate ipsum nesciunt nisi. Blanditiis est maxime possimus quasi tempore, totam velit! Commodi delectus dicta eum ipsum, iusto laudantium minima molestiae nemo odit quaerat quas quia rerum saepe sapiente?</span></p>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="center-block pagination">
        <ul>
            <li class="previous"><a href=""></a></li>
            <li class="page-number active"><a href="">1</a></li>
            <li class="page-number"><a href="">2</a></li>
            <li class="page-number"><a href="">3</a></li>
            <li class="next"><a href=""></a></li>
        </ul>
    </div>
</main>


<%= _.template(require('./../includes/footer.html'))(data) %>