<%= _.template(require('./../includes/header.html'))(data) %>

<main>
    <div class="center-block ">
        <div class="top-container our-department-header">
            <div class="container-item">
                <h3>Наши филиалы</h3>
                <div class="breadcrumbs">
                    <a href="index.html">Главная</a>
                    <span class="next"></span>
                    <a href="catalog.html">Каталог</a>
                </div>
            </div>
            <form class="search" action="">
                <div class="select-container">
                    <select>
                        <option selected="">Минская область</option>
                        <option>First</option>
                        <option>Second</option>
                        <option>Third</option>
                    </select>
                </div>
                <div class="select-container">
                    <select>
                        <option selected="">Город</option>
                        <option>First</option>
                        <option>Second</option>
                        <option>Third</option>
                    </select>
                </div>
            </form>
        </div>
        <h3 class="our-departments-h3">Минская область</h3>
        <div class="center-block our-department">
            <div class="department">
                <div><img  class="small-icon" src="img/map-marker.png" alt=""></div>
                <div class="department-city-block">
                    <span class="department-city">г. Бобруйск</span>
                    <span class="department-address"><a href=""> г.Лида, ул. Мицкевича, 39а</a></span>
                </div>
                <div class="department-work">
                    <span class="department-work-time">
                        <span class="department-work-day">пн-пт</span>
                         - 08.30-17.30
                    </span>
                    <span class="department-work-time">
                        <span class="department-work-day">сб</span>
                         - дежурный режим
                    </span>
                    <span class="department-work-time">
                        <span class="department-work-day">вс</span>
                         - дежурный режим
                    </span>
                </div>
                <span class="department-city">Телефоны</span>

                <div class="department-phone">
                    <span><a href="tel:+372342343254"> +372(344)543254</a></span>
                    <span><a href="tel:+372342343254"> +372(344)543254</a></span>
                    <span><a href="tel:+372342343254"> +372(344)543254</a></span>
                </div>
            </div>
            <div class="department">
                <div><img  class="small-icon" src="img/map-marker.png" alt=""></div>
                <div class="department-city-block">
                    <span class="department-city">г. Бобруйск</span>
                    <span class="department-address"><a href=""> г.Лида, ул. Мицкевича, 39а</a></span>
                </div>
                <div class="department-work">
                    <span class="department-work-time">
                        <span class="department-work-day">пн-пт</span>
                         - 08.30-17.30
                    </span>
                    <span class="department-work-time">
                        <span class="department-work-day">сб</span>
                         - дежурный режим
                    </span>
                    <span class="department-work-time">
                        <span class="department-work-day">вс</span>
                         - дежурный режим
                    </span>
                </div>
                <span class="department-city">Телефоны</span>

                <div class="department-phone">
                    <span><a href="tel:+372342343254"> +372(344)543254</a></span>
                    <span><a href="tel:+372342343254"> +372(344)543254</a></span>
                    <span><a href="tel:+372342343254"> +372(344)543254</a></span>
                </div>
            </div>
            <div class="department">
                <div><img  class="small-icon" src="img/map-marker.png" alt=""></div>
                <div class="department-city-block">
                    <span class="department-city">г. Бобруйск</span>
                    <span class="department-address"><a href=""> г.Лида, ул. Мицкевича, 39а</a></span>
                </div>
                <div class="department-work">
                    <span class="department-work-time">
                        <span class="department-work-day">пн-пт</span>
                         - 08.30-17.30
                    </span>
                    <span class="department-work-time">
                        <span class="department-work-day">сб</span>
                         - дежурный режим
                    </span>
                    <span class="department-work-time">
                        <span class="department-work-day">вс</span>
                         - дежурный режим
                    </span>
                </div>
                <span class="department-city">Телефоны</span>

                <div class="department-phone">
                    <span><a href="tel:+372342343254"> +372(344)543254</a></span>
                    <span><a href="tel:+372342343254"> +372(344)543254</a></span>
                    <span><a href="tel:+372342343254"> +372(344)543254</a></span>
                </div>
            </div>
            <div class="department">
                <div><img  class="small-icon" src="img/map-marker.png" alt=""></div>
                <div class="department-city-block">
                    <span class="department-city">г. Бобруйск</span>
                    <span class="department-address"><a href=""> г.Лида, ул. Мицкевича, 39а</a></span>
                </div>
                <div class="department-work">
                    <span class="department-work-time">
                        <span class="department-work-day">пн-пт</span>
                         - 08.30-17.30
                    </span>
                    <span class="department-work-time">
                        <span class="department-work-day">сб</span>
                         - дежурный режим
                    </span>
                    <span class="department-work-time">
                        <span class="department-work-day">вс</span>
                         - дежурный режим
                    </span>
                </div>
                <span class="department-city">Телефоны</span>

                <div class="department-phone">
                    <span><a href="tel:+372342343254"> +372(344)543254</a></span>
                    <span><a href="tel:+372342343254"> +372(344)543254</a></span>
                    <span><a href="tel:+372342343254"> +372(344)543254</a></span>
                </div>
            </div>
        </div>
        <h3 class="our-departments-h3">Витебская область</h3>
        <div class="center-block our-department">
            <div class="department">
                <div><img  class="small-icon" src="img/map-marker.png" alt=""></div>
                <div class="department-city-block">
                    <span class="department-city">г. Бобруйск</span>
                    <span class="department-address"><a href=""> г.Лида, ул. Мицкевича, 39а</a></span>
                </div>
                <div class="department-work">
                    <span class="department-work-time">
                        <span class="department-work-day">пн-пт</span>
                         - 08.30-17.30
                    </span>
                    <span class="department-work-time">
                        <span class="department-work-day">сб</span>
                         - дежурный режим
                    </span>
                    <span class="department-work-time">
                        <span class="department-work-day">вс</span>
                         - дежурный режим
                    </span>
                </div>
                <span class="department-city">Телефоны</span>

                <div class="department-phone">
                    <span><a href="tel:+372342343254"> +372(344)543254</a></span>
                    <span><a href="tel:+372342343254"> +372(344)543254</a></span>
                    <span><a href="tel:+372342343254"> +372(344)543254</a></span>
                </div>
            </div>
            <div class="department">
                <div><img  class="small-icon" src="img/map-marker.png" alt=""></div>
                <div class="department-city-block">
                    <span class="department-city">г. Бобруйск</span>
                    <span class="department-address"><a href=""> г.Лида, ул. Мицкевича, 39а</a></span>
                </div>
                <div class="department-work">
                    <span class="department-work-time">
                        <span class="department-work-day">пн-пт</span>
                         - 08.30-17.30
                    </span>
                    <span class="department-work-time">
                        <span class="department-work-day">сб</span>
                         - дежурный режим
                    </span>
                    <span class="department-work-time">
                        <span class="department-work-day">вс</span>
                         - дежурный режим
                    </span>
                </div>
                <span class="department-city">Телефоны</span>

                <div class="department-phone">
                    <span><a href="tel:+372342343254"> +372(344)543254</a></span>
                    <span><a href="tel:+372342343254"> +372(344)543254</a></span>
                    <span><a href="tel:+372342343254"> +372(344)543254</a></span>
                </div>
            </div>
            <div class="department">
                <div><img  class="small-icon" src="img/map-marker.png" alt=""></div>
                <div class="department-city-block">
                    <span class="department-city">г. Бобруйск</span>
                    <span class="department-address"><a href=""> г.Лида, ул. Мицкевича, 39а</a></span>
                </div>
                <div class="department-work">
                    <span class="department-work-time">
                        <span class="department-work-day">пн-пт</span>
                         - 08.30-17.30
                    </span>
                    <span class="department-work-time">
                        <span class="department-work-day">сб</span>
                         - дежурный режим
                    </span>
                    <span class="department-work-time">
                        <span class="department-work-day">вс</span>
                         - дежурный режим
                    </span>
                </div>
                <span class="department-city">Телефоны</span>

                <div class="department-phone">
                    <span><a href="tel:+372342343254"> +372(344)543254</a></span>
                    <span><a href="tel:+372342343254"> +372(344)543254</a></span>
                    <span><a href="tel:+372342343254"> +372(344)543254</a></span>
                </div>
            </div>
            <div class="department">
                <div><img  class="small-icon" src="img/map-marker.png" alt=""></div>
                <div class="department-city-block">
                    <span class="department-city">г. Бобруйск</span>
                    <span class="department-address"><a href=""> г.Лида, ул. Мицкевича, 39а</a></span>
                </div>
                <div class="department-work">
                    <span class="department-work-time">
                        <span class="department-work-day">пн-пт</span>
                         - 08.30-17.30
                    </span>
                    <span class="department-work-time">
                        <span class="department-work-day">сб</span>
                         - дежурный режим
                    </span>
                    <span class="department-work-time">
                        <span class="department-work-day">вс</span>
                         - дежурный режим
                    </span>
                </div>
                <span class="department-city">Телефоны</span>

                <div class="department-phone">
                    <span><a href="tel:+372342343254"> +372(344)543254</a></span>
                    <span><a href="tel:+372342343254"> +372(344)543254</a></span>
                    <span><a href="tel:+372342343254"> +372(344)543254</a></span>
                </div>
            </div>
        </div>
    </div>
</main>


<%= _.template(require('./../includes/footer.html'))(data) %>