<%= _.template(require('./../includes/header.html'))(data) %>
<main>
    <div class="item-container center-block">
        <div class="header-item">
            <div class="container-item">
                <h3>Стать клиентом</h3>
                <div class="breadcrumbs">
                    <a href="">Главная</a>
                    <span class="next"></span>
                    <a href="">Клиентам</a>
                    <span class="next"></span>
                    <a href="">Возврат</a>
                </div>
            </div>
        </div>
    </div>
    <div class="return-block item-container center-block">
        <h4>Если у вас возник гарантийный случай</h4>
        <p><span class="round-number">1</span> Связаться с ниженером по гарантии</p>
        <p><span class="round-number">2</span>Предоставить</p>
    </div>
</main>
<%= _.template(require('./../includes/footer.html'))(data) %>
