<%= _.template(require('./../includes/header.html'))(data) %>
<main>
    <div class="item-container center-block">
        <div class="header-item">
            <div class="container-item">
                <h3>Для оптовых клиентов</h3>
                <div class="breadcrumbs">
                    <a href="">Главная</a>
                    <span class="next"></span>
                    <a href="">Клиентам</a>
                    <span class="next"></span>
                    <a href="">Стать клиентом</a>
                </div>
            </div>
        </div>
    </div>
    <div class="becomeaclient-container item-container center-block">
        <div class="becomeaclient-main">
            <p><img src="img/starImg.png" alt="">Индивидуальные условия работы</p>
            <p><img src="img/cartImg.png" alt="">On-line доступ к складу запасных частей</p>
            <p><img src="img/listImg.png" alt="">Ежедневная рассылка прайслистов</p>
            <p><img src="img/lock.png" alt="">Ежедневная рассылка прайслистов</p>
            <p><img src="img/listDone.png" alt="">Индивидуальные заказы на заводы изготовителей	 </p>
            <a href="./becomeaclientform.html" class="custom-button">Стать оптовым клиентом</a>
        </div>
        <div class="becomeaclient-img">
            <img class="response-img" src="img/becomeaclientimg.png" alt="">
        </div>
    </div>
</main>
<%= _.template(require('./../includes/footer.html'))(data) %>
